<header class="header" id="site-header">
    <div class="header-container container">
        <button type="button" class="menu-button" aria-label="menu toggle">
<span class="icon">
    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect x="0.5" y="0.5" width="23" height="23" rx="3.5" stroke="#a855f7" />

        <path d="M5.625 7.125H18.375M5.625 16.125H18.375M5.625 11.625H18.375" stroke="#f5f3ff" stroke-linecap="round" />
    </svg>
</span>
        </button>

        <nav class="nav ">
            <ul class="navigation-list">
                <li class="navigation-item">
                    <a class="links" href="./#about">Философия Катарсиса</a>
                </li>
                <li class="navigation-item">
                    <a class="links" href="./#product">Наш Ассортимент</a>
                </li>
                <li class="navigation-item">
                    <a class="links" href="./#warranty">Правила замен и гарантии</a>
                </li>
                 <li class="navigation-item">
                    <a class="links" href="./#contact">Связь с менеджером</a>
                </li>
            </ul>
        </nav>
    </div>
</header>
<!-- Mobile menu -->
<div id="modalWindow" class="modal">
    <ul class="menu-list">
        <li class="menu-item"><a class="menu-list-item" href="./#about">Философия Катарсиса</a></li>
        <li class="menu-item"><a class="menu-list-item" href="./#product">Наш Ассортимент</a></li>
        <li class="menu-item"><a class="menu-list-item" href="./#warranty">Правила замен и гарантии</a></li>
    <li class="menu-item"><a class="menu-list-item" href="./#contact">Связь с менеджером</a></li>
    </ul>
</div>